pre,
code {
  font-family: $monospaced;
}

code {
  background-color: $grey-3;
  border-radius: 3px;
  color: $code-color;
  padding: .25em .5em;
}

pre {
  margin: 0 0 1em;
}

pre code {
  background-color: transparent;
  font-size: 18px;
  padding: 0;
}

div.highlight, figure.highlight {
  overflow: auto;
}

.highlight {
  background-color: $grey-3;
  border-radius: 3px;
  line-height: 1.4;
  margin: 0 0 1em;
  padding: 1em;

  pre {
    margin-bottom: 0;
    overflow-x: auto;
  }

  .lineno {
    color: $default-tint;
    display: inline-block; // Ensures the null space also isn't selectable
    padding: 0 .75em 0 .25em;
    // Make sure numbers aren't selectable
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
  }
}

.full-width {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

.full-width div.highlight {
  text-align: center;
}

.full-width div.highlight pre.highlight {
  display: inline-block;
  text-align: left;
}

.fas.fa-expand { //font awesome expand icon
  float: right;
  font-size: 1.2em;
  padding: 0.25em 0.5em;
  opacity: 0.5;
  cursor: pointer;
  @include transition(opacity 0.5s);
}

.fas.fa-expand:hover,
.fas.fa-expand:focus {
  opacity: 1;
}

.full-width .fas.fa-expand {
    position: absolute;
    right: 0.75em;
    bottom: 0.5em;
}

@media screen and (max-width:960px) {
  .full-width pre code {
    font-size: 1.875vw;
  }
}

@media screen and (max-width:640px) {
  .full-width pre code {
    font-size: 12px;
  }
}